<app-header></app-header>
<!-- Hero Section: Booking Your Appointments -->
<section class="bg-half-170 d-table w-100" id="home">
  <div class="bg-overlay bg-overlay-dark"></div>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-xl-10">
        <div class="heading-title text-center">
          <img src="assets/images/logo-icon.png" height="50" alt="">
          <h4 class="heading fw-bold text-white title-dark mt-3 mb-4">Booking Your Appointments</h4>
          <p class="para-desc mx-auto text-white-50 mb-0">Great doctor if you need your family member to get
            effective immediate assistance, emergency treatment or a simple consultation.</p>
          <div class="mt-4 pt-2">
            <form class="rounded text-start shadow p-4 bg-white-50">
              <div class="row align-items-center">
                <!-- <div class="col-md">
                                  <div class="input-group bg-white border rounded" style="opacity: 0.7;">
                                      <span class="input-group-text border-0">
                                          <i class="ri-map-pin-line text-primary h5 fw-normal mb-0"></i>
                                      </span>
                                      <input name="name" id="location" type="text" class="form-control border-0"
                                          placeholder="Location:">
                                  </div>
                              </div> -->
                <!--end col-->
                <div class="col-md mt-4 mt-sm-0">
                  <form [formGroup]="SearchForm">

                    <div class="input-group bg-white border rounded" style="opacity: 0.7;">
                      <span class="input-group-text border-0">
                        <i class="ri-user-2-line text-primary h5 fw-normal mb-0"></i>
                      </span>
                      <input name="name" id="name" type="text" class="form-control border-0 example-input"
                        formControlName="nameControl" [matAutocomplete]="auto" placeholder="Doctor Name/ Disease:">
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let fdoctor of filteredDoctors" [value]="fdoctor?.firstName"
                          data-bs-toggle="modal" (click)="GetDoctorProfile(fdoctor?.doctorID)"
                          data-bs-target="#classModal">
                          <div class="doctor-option">
                            <div class="avatar-container">
                              <img class="avatar1" [src]="getImageUrl(fdoctor.imageFile)" alt="Doctor Image">
                            </div>
                            <div class="doctor-details">
                              <span>Dr. {{ fdoctor.firstName }}</span>
                              <span class="speciality">{{ fdoctor.specialty }}</span>
                            </div>
                          </div>
                        </mat-option>
                      </mat-autocomplete>
                    </div>
                  </form>

                </div>
                <!--end col-->
                <!-- <div class="col-md-auto mt-4 mt-sm-0">
                  <div class="d-grid d-md-block">
                    <button type="submit" class="btn btn-primary">Search</button>
                  </div>
                </div> -->
                <!--end col-->
              </div>
              <!--end row-->
            </form>
            <!--end form-->
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- End Hero Section -->


<!-- Services Section -->
<section class="section pb-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="features-absolute bg-white shadow rounded overflow-hidden card-group">
          <!-- Service Card 1: Visit A Doctor -->
          <div class="card border-0 bg-light p-4">
            <i class="ri-heart-pulse-fill text-primary h2 mb-0"></i>
            <h5 class="mt-1">Visit A Doctor</h5>
            <p class="text-muted mt-2">This is required when, for example, the is not yet available. Dummy
              text is also known as 'fill text'.</p>
            <a routerLink="/book-appointment" class="btn btn-primary">Book Now <i
                class="ri-arrow-right-line align-middle"></i></a>
          </div>
          <!-- Service Card 2: Find A Pharmacy -->
          <div class="card border-0 p-4">
            <i class="ri-dossier-fill text-primary h2 mb-0"></i>
            <h5 class="mt-1">Find A Pharmacy</h5>
            <p class="text-muted mt-2">This is required when, for example, the is not yet available. Dummy
              text is also known as 'fill text'.</p>
            <a href="departments.html" class="btn btn-info">Find Now <i
                class="ri-arrow-right-line align-middle"></i></a>
          </div>
          <!-- Service Card 3: Opening Hours -->
          <div class="card border-0 bg-light p-4">
            <i class="ri-time-fill text-primary h2 mb-0"></i>
            <h5 class="mt-1">Opening Hours</h5>
            <ul class="list-unstyled mt-2">
              <li class="d-flex justify-content-between">
                <p class="text-muted mb-0">Monday - Friday</p>
                <p class="text-primary mb-0">8.00 - 20.00</p>
              </li>
              <li class="d-flex justify-content-between">
                <p class="text-muted mb-0">Saturday</p>
                <p class="text-primary mb-0">8.00 - 18.00</p>
              </li>
              <li class="d-flex justify-content-between">
                <p class="text-muted mb-0">Sunday</p>
                <p class="text-primary mb-0">8.00 - 14.00</p>
              </li>
            </ul>
            <a href="departments.html" class="btn btn-success">Read More <i
                class="ri-arrow-right-line align-middle"></i></a>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- End Services Section -->


<!-- About Section -->
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-6">
        <div class="position-relative"> <img src="assets/images/about/about-2.png" class="img-fluid" alt="">
          <div class="play-icon"> <a data-type="youtube" data-id="yba7hPeTSjk"
              class="play-btn lightbox video-play-icon"> <i class="mdi mdi-play text-primary rounded-circle shadow"></i>
            </a> </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-7 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
        <div class="section-title ms-lg-5"> <span class="badge rounded-pill bg-soft-primary">About
            Doctris</span>
          <h4 class="title mt-3 mb-4">Good Services And Better <br>
            Health By Our Specialists</h4>
          <p class="para-desc text-muted">Great doctor if you need your family member to get effective
            immediate assistance, emergency treatment or a simple consultation.</p>
          <p class="para-desc text-muted">The most well-known dummy text is the 'Lorem Ipsum', which is said
            to have originated in the 16th century. Lorem Ipsum is composed in a pseudo-Latin language which
            more or less corresponds to 'proper' Latin. It contains a series of real Latin words.</p>
          <div class="mt-4"> <a href="aboutus.html" class="btn btn-soft-primary">Read More</a> </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->

  <!--end container-->

  <!-- Cta Start -->

  <!--end container-->
</section>


<!-- End About Section -->

<!-- Doctors Section -->
<section class="section pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center mb-4 pb-2">
          <h4 class="title mb-4">Doctors</h4>
          <p class="text-muted mx-auto para-desc mb-0">Great doctor if you need your family member to get
            effective immediate assistance, emergency treatment or a simple consultation.</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-xl-3 col-lg-3 col-md-6 mt-4 pt-2" *ngFor="let doctor of doctors">
        <div class="card team border-0 rounded shadow overflow-hidden">
          <div class="team-img position-relative">
            <img src="{{getImageUrl(doctor.imageFile)}}" class="img-fluid" [alt]="doctor.name">
            <!-- <ul class="list-unstyled team-social mb-0">
                          <li><a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-primary"><i
                                      data-feather="facebook" class="icons"></i></a></li>
                          <li class="mt-2"><a href="javascript:void(0)"
                                  class="btn btn-icon btn-pills btn-soft-primary"><i data-feather="linkedin"
                                      class="icons"></i></a></li>
                          <li class="mt-2"><a href="javascript:void(0)"
                                  class="btn btn-icon btn-pills btn-soft-primary"><i data-feather="github"
                                      class="icons"></i></a></li>
                          <li class="mt-2"><a href="javascript:void(0)"
                                  class="btn btn-icon btn-pills btn-soft-primary"><i data-feather="twitter"
                                      class="icons"></i></a></li>
                      </ul> -->
          </div>
          <div class="card-body text-center">
            <a [routerLink]="'/doctor/' + doctor.doctorID" class="title text-dark h5 d-block mb-0">{{
              doctor.firstName + " " +doctor.lastName }}</a>
            <small class="text-muted speciality">{{ doctor.specialty }}</small>
            <div class="col pt-2">
              <a href="#" data-bs-toggle="modal" (click)="GetDoctorProfile(doctor.doctorID)"
                data-bs-target="#classModal" class="btn btn-info btn-sm">ViewProfile</a>
              <a [routerLink]="['/book', doctor.doctorID]" class="btn btn-primary btn-sm">Book Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Doctors Section -->

<!-- <app-doctors-profile [currentpageSize] = 4 style="margin-top: 14px;"></app-doctors-profile> -->

<!-- Departments Section -->
<div class="container mt-100 mt-60">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="section-title mb-4 pb-2 text-center">
        <span class="badge rounded-pill bg-soft-primary mb-3">Departments</span>
        <h4 class="title mb-4">Clinic and Specialities</h4>
        <p class="text-muted mx-auto para-desc mb-0">Great doctor if you need your family member to get
          effective immediate assistance, emergency treatment or a simple consultation.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Loop Through Departments -->
    <div class="col-xl-3 col-md-4 col-12 mt-5" *ngFor="let department of departments">
      <div class="card features feature-primary bg-transparent border-0">
        <div class="icon text-center rounded-md">
          <i [class]="department.iconClass + ' h3 mb-0'"></i>
        </div>
        <div class="card-body p-0 mt-3">
          <a routerLink="/departments" class="title text-dark h5">{{ department.name }}</a>
          <p class="text-muted mt-3">{{ department.description }}</p>
          <a routerLink="/departments" class="link">Read More <i class="ri-arrow-right-line align-middle"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Departments Section -->


<!-- Client Reviews Section -->
<div class="container-fluid mt-100 mt-60">
  <div class="py-5 rounded" style="background: url('assets/images/bg/05.jpg') center left;">
    <div class="container">
      <div class="row">
        <div class="offset-lg-8 offset-md-6 col-lg-4 col-md-6">
          <div class="cta-review bg-primary shadow-md mb-lg-4 rounded p-4 py-5">
            <div class="client-review-slider">
              <!-- Loop Through Client Reviews -->
              <div class="tiny-slide" *ngFor="let review of reviews">
                <p class="text-white-50 fst-italic">{{ review.content }}</p>
                <div class="d-inline-flex align-items-center">
                  <img [src]="review.avatar" class="img-fluid avatar avatar-small rounded-circle mx-auto shadow"
                    [alt]="review.author">
                  <h6 class="text-light title-dark fw-normal ms-3">{{ review.author }} <small
                      class="text-white-50 d-block">{{ review.position }}</small></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Client Reviews Section -->


<!-- Client Logos Section -->
<section class="pt-md-0 cta-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-6">
        <div class="row mt-4">
          <!-- Client Logos -->
          <div class="col-lg-3 col-md-4 col-6 text-center py-4">
            <img src="assets/images/client/amazon.png" class="avatar avatar-client" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 text-center py-4">
            <img src="assets/images/client/google.png" class="avatar avatar-client" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 text-center py-4">
            <img src="assets/images/client/lenovo.png" class="avatar avatar-client" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 text-center py-4">
            <img src="assets/images/client/paypal.png" class="avatar avatar-client" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 text-center py-4">
            <img src="assets/images/client/shopify.png" class="avatar avatar-client" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 text-center py-4">
            <img src="assets/images/client/spotify.png" class="avatar avatar-client" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="classModal" tabindex="-1" aria-labelledby="classModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header"
        style="background-color: #0056b3; color: white; display: flex; align-items: center; justify-content: space-between;">
        <h5 class="modal-title" id="classModalLabel" style="font-weight: bold; margin: 0;">Doctor Profile</h5>
        <button type="button" style="color: white;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          style="color: white;"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="modal-body">
        <div class="contact-info">
          <div class="info">
            <div class="information" style=" display: flex;justify-content: center;">
              <div class="avatar-container" style="width: 150px; height: 150px;">
                <img src="{{ getImageUrl(DoctorDetails.imageFile) }}" class="avatar avatar-medium rounded-circle"
                  alt="">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="information" style="margin: 30px;">
                  <i class="fas fa-user" style="color: #0056b3; margin-right: 10px;"></i>
                  <span style="font-size: 18px;">{{ DoctorDetails.firstName | capitalize }} {{ DoctorDetails.lastName
                    |capitalize }}</span>
                </div>
                <div class="information" style="margin: 30px;">
                  <i class="fas fa-phone" style="color: #0056b3; margin-right: 10px;"></i>
                  <span style="font-size: 18px;">{{ DoctorDetails.phone }}</span>
                </div>
                <div class="information" style="margin: 30px;">
                  <i class="fas fa-stethoscope" style="color: #0056b3; margin-right: 10px;"></i>
                  <span style="font-size: 18px;">{{ DoctorDetails.specialty }}</span>
                </div>
                <div class="information" style="margin: 30px;">
                  <i class="fas fa-venus-mars" style="color: #0056b3; margin-right: 10px;"></i>
                  <span style="font-size: 18px;">{{ DoctorDetails.gender }}</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="information" style="margin: 30px;">
                  <i class="fas fa-calendar-alt" style="color: #0056b3; margin-right: 10px;"></i>
                  <span style="font-size: 18px;">{{ DoctorDetails.experienceYears }} Years</span>
                </div>
                <div class="information" style="margin: 30px;">
                  <i class="fas fa-city" style="color: #0056b3; margin-right: 10px;"></i>
                  <span style="font-size: 18px;">{{ DoctorDetails.city }}</span>
                </div>
                <div class="information" style="margin: 30px;">
                  <i class="fas fa-clock" style="color: #0056b3; margin-right: 10px;"></i>
                  <span style="font-size: 18px;">Shift: {{ formatTime(DoctorDetails.shiftStart||"") }} - {{
                    formatTime(DoctorDetails.shiftEnd || "") }}</span>
                </div>
                <div class="information" style="margin: 30px;">
                  <i class="fas fa-graduation-cap" style="color: #0056b3; margin-right: 10px;"></i>
                  <span style="font-size: 18px;">{{ DoctorDetails.qualifications }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a [routerLink]="['/book', DoctorDetails.doctorID]" (click)="closePopup()" class="btn btn-primary">Book Now</a>
        <button type="button" class="btn btn-secondary" #closeModalBtn data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!--
                End Client Logos Section -->

<!-- Back to top -->

<a href="#" onclick="topFunction()" id="back-to-top"
  class="back-to-top fs-5 rounded-pill text-center bg-primary justify-content-center align-items-center"><i
    data-feather="arrow-up" class="fea icon-sm"></i></a>

<!-- Back to top -->
<app-footer></app-footer>
