
<router-outlet></router-outlet>

<ngx-ui-loader
  [fgsColor]="noti.config.fgsColor"
  [fgsPosition]="noti.config.fgsPosition"
  [fgsSize]="noti.config.fgsSize"
  [fgsType]="noti.config.fgsType"
  [bgsColor]="noti.config.bgsColor"
  [bgsOpacity]="noti.config.bgsOpacity"
  [bgsPosition]="noti.config.bgsPosition"
  [bgsSize]="noti.config.bgsSize"
  [bgsType]="noti.config.bgsType"
  [gap]="noti.config.gap"
  [logoPosition]="noti.config.logoPosition"
  [logoSize]="noti.config.logoSize"
  [logoUrl]="noti.config.logoUrl"
  [overlayColor]="noti.config.overlayColor"
  [pbColor]="noti.config.pbColor"
  [pbDirection]="noti.config.pbDirection"
  [pbThickness]="noti.config.pbThickness"
  [hasProgressBar]="noti.config.hasProgressBar"
  [text]="noti.config.text"
  [textColor]="noti.config.textColor"
  [textPosition]="noti.config.textPosition"
></ngx-ui-loader>
